## LAB INFERENTIAL STATISTICS

In [1]:
import numpy as np
import pandas as pd
import math
from scipy.stats import norm
from scipy.stats import ttest_1samp

In [2]:
root = pd.read_csv(r'C:\Users\laura\Desktop\ironhack\lab-inferential-statistics\files_for_lab\principal_component_analysis_example\breast-cancer.csv')
df_original = root
df_original.head(5)

,119513,N,31,18.02,27.6,117.5,1013,0.09489,0.1036,0.1086,...,139.7,1436,0.1195,0.1926,0.314,0.117,0.2677,0.08113,5,5.1
0,8423,N,61,17.99,10.38,122.80,1001.0,0.11840,0.2776,0.3001,...,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,3.0,2
1,842517,N,116,21.37,17.44,137.50,1373.0,0.08836,0.1189,0.1255,...,159.10,1949.0,0.1188,0.3449,0.3414,0.2032,0.4334,0.09067,2.5,0
2,843483,N,123,11.42,20.38,77.58,386.1,0.14250,0.2839,0.2414,...,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,2.0,0
3,843584,R,27,20.29,14.34,135.10,1297.0,0.10030,0.1328,0.1980,...,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,3.5,0
4,843786,R,77,12.75,15.29,84.60,502.7,0.11890,0.1569,0.1664,...,107.30,733.2,0.1706,0.4196,0.5999,0.1709,0.3485,0.11790,2.5,0

In [3]:
# 1- It is assumed that the mean systolic blood pressure is μ = 120 mm Hg. In the Honolulu Heart Study, a sample of n = 100 peoplehad an average systolic blood pressure of 130.1 mm Hg with a standard deviation of 21.21 mm Hg. 
# Is the group significantly different (with respect to systolic blood pressure!) from the regular population?

In [4]:
# 1.1 Set up the hypothesis test.
# 1.2 Write down all the steps followed for setting up the test.
# 1.3 Calculate the test statistic by hand and also code it in Python. It should be 4.76190.
  #We will take a look at how to make decisions based on this calculated value.

In [5]:
print("""
STEP 1- Define the null hypothesis (H0): μ = 120
STEP 2- Define the alternate hypotesis: Ha): μ != 120 
STEP 3- Define significancy level: a = 0.05
STEP 4- Do the T staticstics with 1 or 2 tails (in this case 1 tail)
STEP 5- Create the critical region
STEP 6- Make a decision
""")

STEP 1- Define the null hypothesis (H0): μ = 120
STEP 2- Define the alternate hypotesis: Ha): μ != 120
STEP 3- Define significancy level: a = 0.05
STEP 4- Do the T staticstics with 1 or 2 tails (in this case 1 tail)
STEP 5- Create the critical region
STEP 6- Make a decision

In [6]:
systolic_blood_pressure_world_mean = 120

sample = 100
systolic_blood_pressure_mean = 130.1
systolic_blood_pressure_std = 21.21

a = 0.05

In [7]:
generated_sample = norm.rvs(loc=systolic_blood_pressure_mean, scale=systolic_blood_pressure_std, size=sample)
generated_sample

array([135.23459217, 107.2668982 , 127.47563163, 136.4508408 ,
       121.38909549, 147.57624717, 134.7936885 , 128.69189873,
       132.14758763, 142.65566511, 189.61057188, 109.80307247,
       147.42486999, 106.64046538, 143.42159233,  81.70563912,
       138.3624736 , 109.00286604, 150.09343808, 169.36337821,
       102.06152686, 140.63208361, 124.72504099, 131.68402531,
       135.78444162, 111.79272852, 105.13691452, 134.04167204,
       162.76332917, 119.97895605, 144.4833338 , 158.91584564,
       118.98306097, 124.87574305, 151.35925737, 102.32611703,
       117.53987084, 128.42501314, 117.6486241 , 185.12899252,
       121.27386498, 101.87838422, 133.91566378, 143.91737027,
       147.58308095, 127.344557  , 151.16668806, 125.53952971,
        77.68440421, 142.32354354, 144.01911903, 134.38665161,
       114.84199013, 135.09366036, 137.50080444, 146.63307906,
       135.89433535, 109.68284414, 143.02193624, 114.99960324,
       106.76418733, 103.09330272, 128.65567389, 132.48444115,
       116.4566062 , 139.85944478, 150.15989209, 111.74117405,
       110.12451529, 125.67308488, 157.68849459, 132.5682843 ,
       111.89277774, 137.37846314, 149.42968041,  85.7939683 ,
       105.45776661, 130.42438701,  90.2950687 , 172.54336143,
       144.43367896, 102.61137565, 115.51818725, 120.26407207,
       138.72596609, 101.71995096, 152.33150562, 148.13944192,
       122.24197684, 170.99967433, 103.88685169, 130.21544876,
       127.09991075, 102.00576378, 179.49952535, 131.10769926,
       131.4237282 , 174.96307254, 132.65628302, 140.25441825])

In [8]:
t_statistic, p_value = ttest_1samp(generated_sample, systolic_blood_pressure_world_mean)

In [9]:
print("t-statistic:", t_statistic)
print("p-value:", p_value)

t-statistic: 4.7411796792908545
p-value: 7.133674760143715e-06